/*LogiIn.html*/
.bckg {
    background: #EAEDED;
}

.Cform {
    background: #fff;
    text-align: center;
}

.estilo {
    width: 100%;

}

#estilo1 {
    width: 70%;
}

/*inicio.html*/
.backg {
    background: #181c1c;
}

.iBCKnav {
    background: #242424;
}

.iInput {
    background: #3c3c3c;
}

.iInput:hover {
    background: #3c3c3c;
}

.iAlinear {
    text-align: center;
    background: #242424;
}

.iColorInfo {
    background: #242424;
}

p {
    color: white;
}

.boton1 {
    color: white;
    background: #3c3c3c;

}

.boton2 {
    color: white;
    background: #3c3c3c;
    
}

.homer {
    max-width: 100%;
    max-height: 100%;
}
.iImgsize{
    width: 30px;height: 30px;margin-left: 5px;margin-top: 5px;margin-right: 5px;
}

